@import '~material-icons/iconfont/material-icons.css';

.mrt-150 {
    margin-top: 150px;
}

.d-none {
    display: none !important;
}

.loginImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 1px;
}

#bgFullScreen {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    overflow-y: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input[required] + label {
    width: fit-content !important;
}

input[required] + label:before {
    content: "*";
    color: red;
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
}

label.uploadImageButton:before {
    content: "Upload";
    font-family: cursive;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    font-size: x-large;
}

label.uploadImageButton {
    cursor: pointer;
}

label.uploadImageButton:hover + image {
    opacity: 0.6;
}

label.uploadImageButton::before {
    content: "Upload";
    font-family: cursive;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    font-size: x-large;
    display: none;
    transition: 2s ease-in;
}

label.uploadImageButton:hover::before {
    display: inline;
}